<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travellers" parallel="tests" thread-count="3">
    <test name="Hotel Search Test">
        <classes>
            <class name="Tests.HotelSearchTest"></class>
        </classes>
    </test>
    <test name="Sign Up Test">
        <classes>
            <class name="Tests.SighnUpTest"></class>
        </classes>
    </test>
</suite>
